$main_color:#215881;
$light_color:white;
$hover_color:#6ed7f1;

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: $main_color;
   color: $light_color;
   padding: 10px 20px;

   .logo {
      font-size: 24px;
      font-weight: bold;
      img {
         max-width: 2em; 
         // height: auto; 
      }
   }

   .menuIcon {
      cursor: pointer;

      .bar1,
      .bar2,
      .bar3 {
         width: 30px;
         height: 4px;
         background-color: $light_color;
         margin: 6px 0;
         transition: 0.4s;
      }

      &.open {
         .bar1 {
            transform: rotate(-45deg) translate(-5px, 6px);
         }

         .bar2 {
            opacity: 0;
         }

         .bar3 {
            transform: rotate(45deg) translate(-5px, -6px);
         }
      }
   }

   .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -50%;
      left: 0;
      width: 100%;
      background-color: $main_color;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      &.open {
         z-index: 1000;
         position: fixed;
         top:3.4em;
         left: 0px;
         opacity: 1;
         visibility: visible;
      }

      li {
         margin: 10px 0;

         a {
            text-decoration: none;
            color: $light_color;
            font-size: 18px;
            transition: 0.2s;

            &:hover {
               color: $hover_color; /* Change color on hover */
            }
         }
      }
   }

   @media (min-width: 768px) {
      .menuIcon {
         display: none; /* Hide the menu icon on larger screens */
      }

      .menu {
         position: relative;
         opacity: 1;
         visibility: visible;
         display: flex;
         flex-direction: row;
         justify-content: flex-end;

         li {
            margin: 0 10px;
         }
      }
   }
}
