$btn-color: #000;
$btn-bg: #d8d8d8;
$btn-border: 0px solid #ccc;
$btn-radius: 0.9rem;

$btn-shadow:
   0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
   0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;

$btn-shadow-hovered:
   0 0.4rem 0.6rem rgba(0, 0, 0, 0.4),
   0 -0.45rem 0.8rem rgba(0, 0, 0, 0.2) inset;

$btn-transition: box-shadow 0.2s ease-out;

.btn3d {
   color: $btn-color;
   background-color: $btn-bg;
   margin: 0.5rem;
   padding: 0.6rem 1rem;
   border: $btn-border;
   outline: none;
   position: relative;
   border-radius: $btn-radius;
   user-select: none;
   box-shadow: $btn-shadow;
   transition: $btn-transition;

   &:after {
      content: "";
      background-color: #fff;
      width: 75%;
      height: 12.5%;
      position: absolute;
      top: 0.15rem;
      left: 12.5%;
      border-radius: 50%;
      filter: blur(0.15rem);
      transition: opacity 0.2s ease-out;
      opacity: 0.9
   }

   &:hover {
      box-shadow: $btn-shadow-hovered;
      &:after {
         opacity: 0.7;
         height: 13%;
         transition: opacity 0.2s ease-in;
      }
   }

   &:active {
      box-shadow:
         0 0 0 rgba(0, 0, 0, 0.4),
         0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;
      &:after {
         opacity: 0;
      }
   }

   &:disabled {
      pointer-events: none;
      opacity: 0.6;
      box-shadow: none;
      &:after {
         opacity: 0;
      }
   }
}

.btn3d-info {
   color: #fff;
   background-color: #0091ea;
}

.btn3d-success {
   color: #fff;
   background-color: #00c853;
}

.btn3d-warning {
   color: #3e2723;
   background-color: #ffc400;
}

.btn3d-error {
   color: #fff;
   background-color: #d50000;
}

.btn3d-dark {
   color: #fff;
   background-color: #303030;
}
